body,html {
    height: 100% 
}

footer {
    background-color: #ffebbc;
}

.card-img-overlay {
    height: 100px;
    line-height: 40px;
    text-align: center;

}

#card-stack {
    margin: 10px;
}

#head {
    width: 100%;
    height: 100%;
    background-image: url(/images/glacier-national-park-NATPARKS0619-30921de01ce044fcbfd80c5dbcd99d1d.jpg);
    background-size: cover;
}

/* change the colors to more sunset colors */

#foot-copy {
    background-color: #ffdb88;
}


#foot-text,
#foot-links {
    color: #ffa688;
}

#national-link {
    color: #76b9d6
}

#filter {
    text-align: center;
}

